{% load static %}
{% block content %}
{% include 'header.html' %}
<link href="{% static 'css/registrationstyle.css' %}"
  rel="stylesheet">
<div class="testbox">
  <h1>Registration</h1>

  <form action="userregistration"
    method="POST"
    enctype="multipart/form-data">
    {% csrf_token %}
    <hr>
    <input type="file"
      class="bg-white"
      placeholder="upload image"
      name="userphoto">
    <label id="icon"
      for="name"><i class="icon-envelope fa fa-envelope"></i></label>
    <input type="text"
      name="useremail"
      id="useremail"
      placeholder="Email"
      required />
    <label id="icon"
      for="name"><i class="icon-user fa fa-user"></i></label>
    <input type="text"
      name="username"
      id="username"
      placeholder="Name"
      required />
    <label id="icon"
      for="name"><i class="icon-phone fa fa-phone-alt"></i></label>
    <input type="text"
      name="phone"
      id="phone"
      placeholder="Telephone Number"
      required />
    <label id="icon"
      for="name"><i class="icon-shield fa fa-key"></i></label>
    <input type="password"
      name="password"
      id="password"
      placeholder="Password"
      required />
    <div class="text-center">
      <button class="btn1"
        type="submit">Register</button>
    </div>
  </form>
</div>
{%include 'footer.html'%}
{% endblock %}